 body{
  background-image: url("abstract-blue-geometric-shapes-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
 }
