.header-bar{
  display: flex;
  position: absolute;
  align-items: center;
  top: 0%;
  left: 0%;
  right: 0%;
}
.logo-bar{
  display: flex;
  flex: 1;
  margin-top: 1%;
}
.functions{
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.logo{
  width: 15%;
  margin-left: 10%;
}
button{
  font-family: sans-serif;
  background-color: transparent;
  border-color: transparent;
  padding-top: 2%;
  padding-bottom: 2%;
  transition: border-color,color 0.15s,0.15s;
}
button:hover{
  border-color: rgba(172, 206, 41.255);
  border-style: solid;
  color: rgba(172, 206, 41.255);
}
.ack{
  margin-right: 1%;
}
@media screen and (min-width:0px) and (max-width:600px){
  button{
    font-size: 1.5vw;
  }
  .logo{
    width: 15vw;}
  }
@media screen and (min-width: 600px) and (max-width: 701px){
  button{
    font-size: 1.5vw;
  }
  .logo{
    width: 15vw;}
  }
@media screen and (min-width:701px) and (max-width: 801px){
  button{
    font-size: 1.2vw;
  }
  .logo{
    width: 13vw;
  }
.header-bar{
  right: 4%;
}

}
@media screen and (min-width:801px) and (max-width: 1000px){
  button{
    font-size: 1.2vw;
  }
  .logo{
    width: 10vw;}
  .header-bar{
    right: 5%;
    top: 4%;
  }
}
@media screen and (min-width:1000px) and (max-width: 1300px){
  button{
    font-size: 1.4vw;
  }
  .logo{
    width: 10vw;}
  .header-bar{
    right: 5%;
    top: 4%;
}
}

@media screen and (min-width:1300px) and (max-width: 2000px){
  button{
    font-size: 1.4vw;
  }
  .logo{
    width: 10vw;}
  .header-bar{
    right: 5%;
    top: 4%;
}
}
@media screen and (orientation:portrait) and (min-width:0px) and (max-width:600px) {
button{
  font-size: 0vw;
}
.header-bar{
  height: 0%;
}
 
}
